<div class="col-md-4">
</div>
<div class="col-md-4">
  <div class="panel panel-primary">
    <div class="panel-heading">Login</div>
    <div class="alert alert-danger">{{message}}</div>
    <div class="panel-body">
      <form class="form" (submit)=login()>
        <div class="form-group">
          <label class="label label-primary" for="username">Username</label>
          <input class="form-control" [(ngModel)]="username"  type="text" name="username" id="username">
        </div>
        <div class="form-group">
          <label class="label label-primary" for="password">Password</label>
          <input class="form-control" [(ngModel)]="password"  type="password" name="password" id="password">
        </div>
        <div class="form-group">
          <input class="btn btn-success" type="submit" value="Login">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="col-md-4">
  </div>