<div  class="panel panel-default">
    <div class="panel-heading">Channel Info</div>
    <div>
        <a [routerLink]="['news7']" routerLinkActive="router-link-active">News7 Tv</a> | 
        <a [routerLink]="['suntv']" routerLinkActive="router-link-active">Sun Tv</a> | 
        <a [routerLink]="['jayatv']" routerLinkActive="router-link-active">Jaya Tv</a> | 
        <a [routerLink]="['bbc']" routerLinkActive="router-link-active">Bbc Tv</a> | 
        <a [routerLink]="['cnn']" routerLinkActive="router-link-active">Cnn Tv</a>
        <router-outlet></router-outlet>        
    </div>
</div>