<figure class="media-landscape no-caption full-width lead">
    <span class="image-and-copyright-container">
        
        <img class="js-image-replace" alt="ப. சிதம்பரம் பிறந்தநாளுக்கு பிரதமர் நரேந்திர மோதி வாழ்த்துவது இதுதான் முதல் முறையா?" src="https://ichef.bbci.co.uk/news/660/cpsprodpb/525B/production/_108938012_9047f47e-53f6-4bbd-8073-2dc460bd5b7f.jpg" width="976" height="549" data-highest-encountered-width="660">
        
    </span>
    
</figure>
<p class="story-body__introduction">ஐஎன்எக்ஸ் மீடியா வழக்கில் திகார் சிறையில் அடைக்கப்பட்டுள்ள முன்னாள் மத்திய அமைச்சர் ப.சிதம்பரத்திற்கு, பிரதமர் மோதி பிறந்தநாள் வாழ்த்து கடிதம் அனுப்பி இருந்தார். </p>